<?xml version="1.0" encoding="utf-8"?>
<loggerConfiguration>
  <default logRootDirectoryPath="Logs" rollingMode="DayWithRetention" rollingRetentionDays="30" />
  <logger name="Logger.WinForms.Demo.Main" logRootDirectoryPath="Logs\WinFormsMain" rollingMode="DayWithRetention" rollingRetentionDays="30" />
  <logger name="Logger.WinForms.Demo.ConfigDemo.Configured" logRootDirectoryPath="Logs\ConfigDemo\Named" rollingMode="DayWithRetention" rollingRetentionDays="7" />
  <logger name="Logger.WinForms.Demo.Factory.Standalone" logRootDirectoryPath="Logs\Demo\Factory" rollingMode="Day" />
</loggerConfiguration>
