<?xml version="1.0" encoding="utf-8"?>
<loggerConfiguration>
  <default logRootDirectoryPath="Logs" rollingMode="DayWithRetention" rollingRetentionDays="30" />
  <logger name="WpfApp1.MainWindow" logRootDirectoryPath="Logs\WpfApp1" rollingMode="DayWithRetention" rollingRetentionDays="30" />
</loggerConfiguration>
